body {
  font-family: 'Heebo', sans-serif;
  color: #5B5B5B;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

/*Navbar*/
.navbar-light .navbar-brand {
  color: #FFFFFF;
}

.special-text {
  text-transform: uppercase;
  letter-spacing: .25em;
  font-family: 'Heebo', sans-serif;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffffc9;
  font-size: 13px;
  padding: 0 16px;
  letter-spacing: .25em;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.fixed-top {
  top: 20px;
}

/*Slider*/

#banner {
  background-image: url(../img/banner1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  background: rgba(42, 47, 74,.95);
  width: 100%;
/*    height: 600px;*/
}

.banner-text-holder {
  padding-top: 31vh;
  padding-bottom: 80px;
  color: white;
}

#banner-sub-text {
  font-size: 12.5px;
  line-height: 1.5rem;
}

hr.style-one {
  border: 0;
  height: 2px;
  background: white;
  margin: 40px 0;
  /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
}

/*Buttons*/
.btn-action {
  background-color: transparent;
  color: #FFFFFF;
  padding: 10px 22px;
  font-size: 13px;
  border: 2px solid white;
  border-radius: 0;
}

.btn-submit {
  background-color: white;
  color: rgb(42,47,74);
  padding: 10px 22px;
  font-size: 13px;
  border: 2px solid white;
  border-radius: 0;
}

.btn-action:hover,
.btn-action:after,
.btn-action:active {
    color: #FFFFFF;
}

.section-padding-top {
    padding-top: 60px;
}

.section-padding-bottom {
    padding-bottom: 60px;
}
.small-padding-bottom {
    padding-bottom: 40px;
}

/*Testimonials Section*/

#testimonials {
    background-image: url(../img/img_testimony2.jpeg);
    background-attachment: fixed;
    background-size: cover;
/*
    background-position-y: -13vw;
    background-repeat: no-repeat;
*/
}

/*Footer Section*/

#sub-footer {
  color: white;
  background: rgb(42,47,74);
}

#sub-footer-text {
  line-height: 2em;
  font-weight: 300;
  letter-spacing: .08em;
  font-size: 15px;
}

#footer {
  color: white;
  background: rgb(36,41,67);
}

.right-border {
  border-right: 2px solid rgba(42,47,74);
  height: 100%;
}

.form-head {
  font-size: 12.5px;
}

.form-control {
  background-color: rgb(42,47,74);
  border: 0 solid white;
  border-radius: 0;
}

.lt-pad {
  margin-left: 50px;
}
