.bg-osca-one {
	background: #283756;
}

.bg-osca-two {
	background: #F7931E;
}

.bg-osca-three {
	background: #F5BC13;
}

.bg-osca-four {
	background: #F1F2D3;
}

.bg-osca-five {
	background: #FFFFFF;
}

.bg-osca-six {
	background: #464B55
}