.osca-text-white {
    color: #FFFFFF !important;
}

.osca-text-black {
    color: #000000 !important;
}

.osca-text-orange {
    color: #F3932E !important;
}

.osca-text-grey {
    color: #96ADDD !important;
}
